<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
    <import resource="beanNaming.xml"/>
    <import resource="beanInstantiating.xml"/>
    <import resource="dependenciesDetail.xml"/>
    <import resource="dependOn.xml"/>
    <import resource="lazyInitialized.xml"/>
    <import resource="autowiring.xml"/>
    <import resource="methodInjection.xml"/>
    <import resource="methodReplace.xml"/>
    <import resource="scope.xml"/>
    <import resource="nature/nature.xml"/>
</beans>
